<ul>
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" id="menuHome">Home</a><span>|</span>
	</li>
	<li>
		<a href="{{ '/archive' | prepend: site.baseurl | prepend: site.url }}" id="menuArchive">Archive</a><span>|</span>
	</li>
	<li>
		<a href="{{ '/quotes' | prepend: site.baseurl | prepend: site.url }}" id="menuQuotes">Quotes</a><span>|</span>
	</li>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}" id="manuAbout">About</a><span>|</span>
	</li>
</ul>